flows.json
[{"id":"fa662811.872368","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8bc5dd80.79e9a","type":"tab","label":"sensor to DB","disabled":false,"info":""},{"id":"b925fee4.47a26","type":"mqtt-broker","z":"","name":"hivemq","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d12f8fea.aa0d6","type":"postgresdb","z":"","hostname":"104.211.67.161","port":"5432","db":"noderedpoc","ssl":false},{"id":"6b8994ee.d01ecc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4db1cdd7.b9e514","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"8d31e156.8624e","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"e3eb2846.f2de18","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3},{"id":"827e45d9.c6f8e8","type":"ui_link","z":"","name":"Link 4","link":"p1","icon":"open_in_browser","target":"newtab","order":4},{"id":"af54979d.d44138","type":"ui_group","name":"Group 1","tab":"4db1cdd7.b9e514","order":1,"disp":true,"width":15},{"id":"dc6959e2.aad0d8","type":"ui_group","name":"Group 2","tab":"4db1cdd7.b9e514","order":2,"disp":true,"width":17},{"id":"22aebea4.03e422","type":"ui_spacer","name":"spacer","group":"dc6959e2.aad0d8","order":3,"width":17,"height":1},{"id":"ec5d27d2.468238","type":"ui_group","z":"","name":"System Information","tab":"","order":1,"disp":true,"width":"8","collapse":true},{"id":"8da43556.c83008","type":"ui_group","z":"","name":"CPU Status","tab":"","order":2,"disp":true,"width":"8","collapse":true},{"id":"a2703787.6fbb78","type":"ui_group","z":"","name":"Memory Status","tab":"","order":3,"disp":true,"width":"8","collapse":true},{"id":"5983a8ed.55f848","type":"ui_group","z":"","name":"Control","tab":"","disp":true,"width":"16","collapse":false},{"id":"3af19d48.5a6fd2","type":"ui_group","z":"","name":"Testing Motions","tab":"","disp":true,"width":"10"},{"id":"dfc42410.9b7978","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"85006964.df1f58","type":"mqtt-broker","z":"","name":"hivemq","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a6970f50.fee2d","type":"postgresdb","z":"","hostname":"104.211.67.161","port":"5432","db":"noderedpoc","ssl":false},{"id":"e5eca6c6.c18b88","type":"inject","z":"fa662811.872368","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["9b24968d.f108a8"]]},{"id":"9b24968d.f108a8","type":"debug","z":"fa662811.872368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":160,"wires":[]},{"id":"6fd31099.18fb8","type":"mqtt out","z":"8bc5dd80.79e9a","name":"emit","topic":"test1","qos":"2","retain":"false","broker":"85006964.df1f58","x":490,"y":245,"wires":[]},{"id":"98229ea3.35a9","type":"function","z":"8bc5dd80.79e9a","name":"","func":"//msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":272,"y":246,"wires":[["6fd31099.18fb8"]]},{"id":"37d3dd81.0c7ce2","type":"inject","z":"8bc5dd80.79e9a","name":"input to db","topic":"","payload":"{\"data\":[{\"Name\":\"test1\",\"PSnumber\":12345678},{\"Name\":\"test2\",\"PSnumber\":12345679}]}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["26737652.2103ba"]]},{"id":"3903172e.ab04d8","type":"tcp in","z":"8bc5dd80.79e9a","name":"","server":"server","host":"","port":"1883","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":120,"y":247,"wires":[["98229ea3.35a9"]]},{"id":"26737652.2103ba","type":"tcp out","z":"8bc5dd80.79e9a","host":"localhost","port":"1883","beserver":"client","base64":false,"end":false,"name":"","x":330,"y":80,"wires":[]},{"id":"8d900b26.333bc8","type":"comment","z":"8bc5dd80.79e9a","name":"device","info":"","x":110,"y":207,"wires":[]},{"id":"bd7dde2d.806f3","type":"comment","z":"8bc5dd80.79e9a","name":"sensor","info":"","x":110,"y":40,"wires":[]},{"id":"e3c271a6.7bb77","type":"azure-event-hub-receive","z":"8bc5dd80.79e9a","name":"receiver","connectionstring":"Endpoint=sb://ihsuprodpnres009dednamespace.servicebus.windows.net/;SharedAccessKeyName=iothubowner;SharedAccessKey=pc5JOVfn+WmPdVtfsyjXyX9uP1jOJBzrTU3zUvrkjF8=;EntityPath=iothub-ehub-iot-hub-ti-2265628-1efc7d6069","consumergroup":"node_red_cg","x":110,"y":609,"wires":[["960aef07.2d90a"]]},{"id":"86947fb0.d16a3","type":"debug","z":"8bc5dd80.79e9a","name":"event hub log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":634,"y":609,"wires":[]},{"id":"93ff57ed.bed788","type":"comment","z":"8bc5dd80.79e9a","name":"cloud","info":"","x":110,"y":562,"wires":[]},{"id":"960aef07.2d90a","type":"function","z":"8bc5dd80.79e9a","name":"Bytes to String","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":609,"wires":[["86947fb0.d16a3","1bdab260.f9aa5e"]]},{"id":"2b87cc5d.b96504","type":"postgres","z":"8bc5dd80.79e9a","postgresdb":"a6970f50.fee2d","name":"postgress","output":true,"perrow":false,"outputs":1,"x":180,"y":920,"wires":[["7e7dc6b5.86e6e8"]]},{"id":"ad37da21.c81788","type":"debug","z":"8bc5dd80.79e9a","name":"setup params log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":820,"wires":[]},{"id":"9295bc28.b93c8","type":"function","z":"8bc5dd80.79e9a","name":"setup params","func":"msg.queryParameters = msg.queryParameters || {};\nvar arr = msg.payload.data;\nfor(let i =0; i < arr.length; i++)\n{\n    msg.queryParameters.param\n}\nmsg.queryParameters.param = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":800,"wires":[["fbb3996c.da4518","ad37da21.c81788"]]},{"id":"df4cffc1.fdbf7","type":"debug","z":"8bc5dd80.79e9a","name":"format query log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":400,"y":860,"wires":[]},{"id":"fbb3996c.da4518","type":"template","z":"8bc5dd80.79e9a","name":"format query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"for(let i = 0; i< msg.queryParameters.param.length; i++)\n{\n    for(let j = 0; j< 2; j++)\n    {\n        insert into testing (Name, PSnumber) values ( msg.queryParameters.param[i][j], msg.queryParameters.param[i][j];\n    }\n}","x":170,"y":860,"wires":[["df4cffc1.fdbf7","2b87cc5d.b96504"]]},{"id":"7e7dc6b5.86e6e8","type":"debug","z":"8bc5dd80.79e9a","name":"query output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":920,"wires":[]},{"id":"55ada3a1.71cf5c","type":"debug","z":"8bc5dd80.79e9a","name":"string to json","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":700,"wires":[]},{"id":"1bdab260.f9aa5e","type":"json","z":"8bc5dd80.79e9a","name":"","property":"payload","action":"obj","pretty":false,"x":300,"y":700,"wires":[["9295bc28.b93c8","55ada3a1.71cf5c"]]},{"id":"a5cde3d7.cfdc7","type":"mqtt in","z":"8bc5dd80.79e9a","name":"","topic":"test1","qos":"2","datatype":"auto","broker":"85006964.df1f58","x":110,"y":429,"wires":[["aa0ec028.898eb","cc126e60.98638"]]},{"id":"aa0ec028.898eb","type":"azureiothub","z":"8bc5dd80.79e9a","name":"IoT Hub: node-poc","protocol":"http","x":370,"y":400,"wires":[[]]},{"id":"562eeab4.856e14","type":"comment","z":"8bc5dd80.79e9a","name":"Android","info":"","x":110,"y":380,"wires":[]},{"id":"cc126e60.98638","type":"debug","z":"8bc5dd80.79e9a","name":"iot hub input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":460,"wires":[]}]